header {
  height: 3em;
  background-color: var(--primary-9);
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;

    color: inherit;
    text-decoration: inherit;

    &:hover {
      text-decoration: underline;
    }

    span {
      padding: 0;
      font-weight: bold;
      font-size: 1.4em;
      white-space: nowrap;

      @media only screen and (max-width: 400px) {
        font-size: 1.2em;
      }

      &.icon-logo {
        font-size: 2em;
      }
    }

    &.login {
      padding-right: 0.5em;
      white-space: nowrap;
    }
  }

  .utilities {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
