:host {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;

  h1 {
    @media screen and (max-width: 800px) {
      font-size: 2em;
    }
    font-size: 3em;
  }

  button {
    font-size: 1.3em;
  }
}
