<main>
  <h1>Page de connexion</h1>
  <nav>
    <a [href]="oauth2Service.getAuthorizeUrl('GITHUB')">
      <button>
        <fa-icon [icon]="faGithub"></fa-icon>
        Connexion avec Github
      </button>
    </a>

    <a class="button" [href]="oauth2Service.getAuthorizeUrl('AZUREAD')">
      <button>
        <fa-icon [icon]="faMicrosoft"></fa-icon>
        Connexion avec Azure AD
      </button>
    </a>

    <a class="button" [href]="oauth2Service.getAuthorizeUrl('GOOGLE')">
      <button>
        <fa-icon [icon]="faGoogle"></fa-icon>
        Connexion avec Google
      </button>
    </a>

    <a
      *ngIf="oauth2Service.getAuthorizeUrl('TESTPROVIDER')"
      class="button"
      [href]="oauth2Service.getAuthorizeUrl('TESTPROVIDER')"
    >
      <button>
        <fa-icon [icon]="faSmileWink"></fa-icon>
        Connexion avec Test Provider
      </button>
    </a>
  </nav>
</main>
