<main>
  <h1>Page de connexion</h1>
  <nav>
    <a [href]="oauth2Service.getAuthorizeUrl('GITHUB')">
      <button>Connexion avec Github</button>
    </a>

    <a class="button" [href]="oauth2Service.getAuthorizeUrl('AZUREAD')">
      <button>Connexion avec Azure AD</button>
    </a>

    <a
      [hidden]="!oauth2Service.getAuthorizeUrl('TESTPROVIDER')"
      class="button"
      [href]="oauth2Service.getAuthorizeUrl('TESTPROVIDER')"
    >
      <button>Connexion avec Test Provider</button>
    </a>
  </nav>
</main>
