footer {
  height: 3em;
  background-color: var(--gray-9);
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: inherit;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
