<div class="error">
  <ng-container *ngIf="errors">
    <div *ngIf="errors['required']">Champ requis</div>
    <div *ngIf="errors['maxlength']">
      Champ trop long ({{ errors["maxlength"].actualLength }} >
      {{ errors["maxlength"].requiredLength }} caractères max).
    </div>
    <div *ngIf="errors['minlength']">
      Champ trop court ({{ errors["minlength"].requiredLength }}
      caractères min).
    </div>
    <div *ngIf="errors['integer']">Le champ doit être un entier.</div>
  </ng-container>
</div>
