<ng-container *ngIf="oauth2Service.config$ | async">
  <button
    class="quiet"
    *ngIf="(userService.user$ | async) === undefined"
    (click)="connect()"
    aria-label="Se connecter"
  >
    <fa-icon [icon]="faSignInAlt"></fa-icon>
    <span class="text"> Se connecter </span>
  </button>

  <button
    *ngIf="userService.user$ | async"
    class="quiet"
    routerLink="/user"
    [attr.aria-label]="(userService.user$ | async)?.displayName"
  >
    <fa-icon [icon]="faUserCircle"></fa-icon>
    <span class="text">{{ (userService.user$ | async)?.displayName }}</span>
  </button>
</ng-container>
<div class="loading" *ngIf="(oauth2Service.config$ | async) === undefined">
  <button disabled>
    <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
  </button>
</div>
