<ng-container *ngIf="oauth2Service.config$ | async">
  <button
    class="user"
    *ngIf="(userService.user$ | async) === undefined"
    (click)="connect()"
    aria-label="Se connecter"
  >
    <fa-icon [icon]="faSignInAlt"></fa-icon>
    <span class="text"> Se connecter </span>
  </button>

  <div class="user" *ngIf="userService.user$ | async">
    <button
      class="login"
      routerLink="/user"
      [attr.aria-label]="(userService.user$ | async)?.displayName"
    >
      <fa-icon [icon]="faUserCircle"></fa-icon>
      <span class="text">{{ (userService.user$ | async)?.displayName }}</span>
    </button>
  </div>
</ng-container>
<div class="loading" *ngIf="(oauth2Service.config$ | async) === undefined">
  <button disabled>
    <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
  </button>
</div>
