:host {
  display: flex;
  justify-content: flex-end;

  .loading {
    color: gray;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.3em;
    white-space: nowrap;
    text-align: right;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 400px) {
  .text {
    display: none;
  }
}
