<ng-container *ngIf="oauth2Service.config$ | async">
  <div class="user" *ngIf="(userService.user$ | async) === undefined">
    <fa-icon [icon]="faSignInAlt"></fa-icon>
    <a class="login" routerLink="/user/login"> Se connecter </a>
  </div>

  <div class="user" *ngIf="userService.user$ | async">
    <fa-icon [icon]="faUserCircle"></fa-icon>
    <a class="login" routerLink="/user">
      {{ (userService.user$ | async)?.displayName }}
    </a>
  </div>
</ng-container>
<div class="loading" *ngIf="(oauth2Service.config$ | async) === undefined">
  <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
</div>
