<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <div class="navigation">
      <nav>
        <button
          aria-label="Raffraichir"
          (click)="refresh()"
          [disabled]="isLoading"
        >
          <fa-icon [icon]="faSync" [spin]="isLoading"></fa-icon>
        </button>
        <button
          [disabled]="(authorizationService.can('stock.add') | async) === false"
          routerLink="add"
          aria-label="Ajouter"
        >
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button
          aria-label="Supprimer"
          [hidden]="selectedArticles.size === 0"
          (click)="remove()"
          [disabled]="isRemoving"
        >
          <fa-icon
            [icon]="isRemoving ? faCircleNotch : faTrashAlt"
            [spin]="isRemoving"
          ></fa-icon>
        </button>
      </nav>
      <nav>
        <button
          (click)="toggleShowMode()"
          aria-label="Voir les articles par carte ou table"
        >
          <fa-icon
            [icon]="showMode === 'card' ? faList : faAddressCard"
          ></fa-icon>
        </button>
      </nav>
    </div>

    <table
      aria-label="Liste des articles"
      [class.card]="showMode === 'card'"
      [class.detail]="showMode === 'detail'"
    >
      <thead>
        <tr>
          <th scope="col" class="image">Image</th>
          <th scope="col" class="name">Nom</th>
          <th scope="col" class="price">Prix</th>
          <th scope="col" class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading">
        <tr
          [class.selected]="selectedArticles.has(a)"
          (click)="toggle(a)"
          *ngFor="let a of articleService.documents$ | async"
        >
          <td class="images">
            <img
              *ngFor="let url of a.images"
              [src]="url"
              alt="Image d'illustration de l'article"
              (error)="onImgError($event, url)"
            />
            <fa-icon
              class="not-found"
              *ngIf="a.images.length === 0"
              [icon]="faImage"
              role="none"
            ></fa-icon>
          </td>
          <td class="name">{{ a.name }}</td>
          <td class="price">{{ a.price }} €</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
        <tr
          class="empty"
          *ngIf="(articleService.documents$ | async)?.length === 0"
        >
          <td colspan="3" *ngIf="!error">Pas d'article.</td>
          <td colspan="3" *ngIf="error">Erreur: {{ error }}.</td>
        </tr>
      </tbody>
      <tbody *ngIf="isLoading" class="skeleton">
        <tr *ngFor="let a of [1, 2, 3]">
          <td class="images">
            <fa-icon class="not-found" [icon]="faImage" role="none"></fa-icon>
          </td>
          <td class="name">x</td>
          <td class="price">x</td>
          <td class="qty">x</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
