<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">1.23 €</td>
          <td class="qty">45</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">2.40 €</td>
          <td class="qty">100</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">4.67 €</td>
          <td class="qty">45</td>
        </tr>
        <tr>
          <td class="name">Tondeuse à gazon</td>
          <td class="price">232.40 €</td>
          <td class="qty">3</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
