<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button aria-label="Raffraichir">
        <fa-icon [icon]="faSync"></fa-icon>
      </button>
      <button
        [disabled]="!(authorizationService.can('stock.add') | async)"
        routerLink="add"
        aria-label="Ajouter"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button
        aria-label="Supprimer"
        [hidden]="selectedArticles.size === 0"
        (click)="remove()"
        [disabled]="isRemoving"
      >
        <fa-icon
          [icon]="isRemoving ? faCircleNotch : faTrashAlt"
          [spin]="isRemoving"
        ></fa-icon>
      </button>
    </nav>
    <p *ngIf="isLoading">Loading...</p>
    <table *ngIf="!isLoading" aria-label="Liste des articles">
      <thead>
        <tr>
          <th scope="col" class="name">Nom</th>
          <th scope="col" class="price">Prix</th>
          <th scope="col" class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [class.selected]="selectedArticles.has(a)"
          (click)="toggle(a)"
          *ngFor="let a of articleService.articles$ | async"
        >
          <td class="name">{{ a.name }}</td>
          <td class="price">{{ a.price }} €</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
