button {
  margin-right: 0.3em;
}

nav {
  margin-bottom: 0.5em;
}

table {
  border: 0.1em solid #bbb;
  border-collapse: collapse;
  th,
  td {
    padding: 0.5em 1em;
  }

  thead {
    background-color: #bbb;
  }

  tbody {
    cursor: pointer;
    tr:nth-child(even) {
      background-color: #eee;
    }

    .name {
      width: 10em;
    }

    .price {
      width: 5em;
    }

    .qty {
      width: 5em;
    }
  }

  .qty,
  .price {
    text-align: right;
    white-space: nowrap;
  }

  tbody:not(.skeleton) {
    tr:hover {
      background-color: #ddd;
    }
    tr.selected {
      background-color: #ccc;
    }
  }

  tbody.skeleton {
    cursor: inherit;

    tr {
      td {
        background-color: #ddd;
        background-clip: content-box;
        color: #ddd;
        animation: skeleton 2s ease-in-out infinite;
      }
    }
  }
}

@keyframes skeleton {
  0% {
    background-color: #ddd;
    color: #ddd;
  }
  50% {
    background-color: #ccc;
    color: #ccc;
  }
  100% {
    background-color: #ddd;
    color: #ddd;
  }
}
