div.content {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 0.3em;
}

div.navigation {
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    gap: 0.3em;
    margin: 0;
  }
}

@media (hover: none) and (pointer: coarse) {
  div.navigation {
    position: sticky;
    top: 0;
    background-color: var(--gray-10);
  }
}
