<main>
  <h1>User Information</h1>
  <div>
    <app-detail [object]="authenticationService.user$ | async"></app-detail>
    <label>
      <div>Couleur: {{ hue.value }}</div>
      <app-hue-selector [formControl]="hue"> </app-hue-selector>
    </label>
    <nav>
      <button class="theme" (click)="colorSchemeService.toggleColorScheme()">
        Mettre le thème
        {{
          (colorSchemeService.colorScheme$ | async) === "dark"
            ? "lumineux"
            : "sombre"
        }}
      </button>
      <button class="primary" (click)="logout()">Déconnexion</button>
    </nav>
  </div>
  <div class="cache-storage">
    <a routerLink="/cache-storage"> Cache Storage </a>
  </div>
</main>
