nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
  width: 100%;

  button.theme {
    width: 15em;
  }
}

div.content {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

div label {
  display: flex;
  flex-flow: column;
  padding: 2em 0;
}

div.cache-storage {
  display: flex;
  flex-flow: column;
  padding: 2em 0;
}
