table {
  border-collapse: collapse;
  border: 0.1em solid #ddd;
  margin: 1em 0;

  td {
    padding: 0.5em 1em;
  }

  td:first-child {
    border-right: 0.1em solid #ddd;
    text-align: right;
  }

  tr:nth-child(even) {
    background-color: #eee;
  }

  td.value {
    font-weight: bold;
  }
}
