:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 0.1em solid var(--gray-8);
  margin: 1em 0;

  td {
    padding: 0.5em 1em;
  }

  @media screen and (min-width: 601px) {
    td:first-child {
      border-right: 0.1em solid var(--gray-8);
      text-align: right;
    }
  }

  tr:nth-child(even) {
    background-color: var(--gray-9);
  }

  td.value {
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  table {
    display: flex;
    flex-flow: column;
    tr {
      display: flex;
      flex-flow: column;
      td {
        display: flex;
      }
    }
  }
}
