<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
    repellendus minus voluptate a quisquam tempore ipsa nobis. Quasi aut ipsam
    saepe cumque! Iste eveniet commodi maxime aliquid odio perspiciatis ullam?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad
    natus repellendus quia, nostrum, dicta beatae facere consectetur laborum
    quas quae temporibus. Aliquam odio minima ullam dolores, illum asperiores
    animi.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora magni
    commodi atque iure id perferendis. Expedita, odio voluptas. Sed inventore
    nemo sunt molestias repudiandae itaque mollitia error facere eligendi
    quaerat?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
    repellendus minus voluptate a quisquam tempore ipsa nobis. Quasi aut ipsam
    saepe cumque! Iste eveniet commodi maxime aliquid odio perspiciatis ullam?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad
    natus repellendus quia, nostrum, dicta beatae facere consectetur laborum
    quas quae temporibus. Aliquam odio minima ullam dolores, illum asperiores
    animi.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora magni
    commodi atque iure id perferendis. Expedita, odio voluptas. Sed inventore
    nemo sunt molestias repudiandae itaque mollitia error facere eligendi
    quaerat?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
    repellendus minus voluptate a quisquam tempore ipsa nobis. Quasi aut ipsam
    saepe cumque! Iste eveniet commodi maxime aliquid odio perspiciatis ullam?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad
    natus repellendus quia, nostrum, dicta beatae facere consectetur laborum
    quas quae temporibus. Aliquam odio minima ullam dolores, illum asperiores
    animi.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora magni
    commodi atque iure id perferendis. Expedita, odio voluptas. Sed inventore
    nemo sunt molestias repudiandae itaque mollitia error facere eligendi
    quaerat?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
    repellendus minus voluptate a quisquam tempore ipsa nobis. Quasi aut ipsam
    saepe cumque! Iste eveniet commodi maxime aliquid odio perspiciatis ullam?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad
    natus repellendus quia, nostrum, dicta beatae facere consectetur laborum
    quas quae temporibus. Aliquam odio minima ullam dolores, illum asperiores
    animi.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora magni
    commodi atque iure id perferendis. Expedita, odio voluptas. Sed inventore
    nemo sunt molestias repudiandae itaque mollitia error facere eligendi
    quaerat?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
    repellendus minus voluptate a quisquam tempore ipsa nobis. Quasi aut ipsam
    saepe cumque! Iste eveniet commodi maxime aliquid odio perspiciatis ullam?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad
    natus repellendus quia, nostrum, dicta beatae facere consectetur laborum
    quas quae temporibus. Aliquam odio minima ullam dolores, illum asperiores
    animi.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora magni
    commodi atque iure id perferendis. Expedita, odio voluptas. Sed inventore
    nemo sunt molestias repudiandae itaque mollitia error facere eligendi
    quaerat?
  </p>
</main>
