/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/sanitize.css/sanitize.css";

@import "./assets/fonts/custom-font/css/fontello.css";
@import "./assets/fonts/custom-font/css/animation.css";

@import "../node_modules/@jlguenego/angular-tools/src/assets/themes.css";
@import "./scss/skeleton.scss";
@import "./scss/table.scss";
@import "./scss/card.scss";

body {
  min-width: 320px;
  font-family: sans-serif;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em;
  max-width: 50em;
  width: 100%;
  margin: 0 auto;
}

button,
.button {
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: inherit;
  &:not(:disabled) {
    color: inherit;
    cursor: pointer;

    border: 0.1em solid #eee;
    background: #eee;

    &:hover {
      border-color: #ddd;
      background: #ddd;
    }

    &:active {
      border-color: #ccc;
      background: #ccc;
    }

    &.primary {
      border: 0.1em solid #333;
      background: #333;
      color: #fff;

      &:hover {
        border-color: #444;
        background: #444;
      }

      &:active {
        border-color: #555;
        background: #555;
      }
    }
  }
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;
  label {
    padding-bottom: 0.5em;

    input {
      padding: 0.5em 1em;
      border: 0.1em solid #ddd;
      width: 100%;
    }

    .error {
      display: flex;
      align-items: center;
      height: 1.2em;
      font-weight: bold;
    }
  }

  button {
    margin-top: 2em;
  }
}
