/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/sanitize.css/sanitize.css";

@import "./assets/fonts/custom-font/css/fontello.css";
@import "./assets/fonts/custom-font/css/animation.css";

@import "../node_modules/@jlguenego/angular-tools/src/assets/themes.css";
@import "./scss/button.scss";
@import "./scss/skeleton.scss";
@import "./scss/table.scss";
@import "./scss/card.scss";

body {
  min-width: 320px;
  font-family: sans-serif;
  color: var(--gray-0);
  background-color: var(--gray-10);
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em;
  max-width: 50em;
  width: 100%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;
  label {
    padding-bottom: 0.5em;

    input {
      padding: 0.5em 1em;
      border: 0.1em solid var(--gray-8);
      width: 100%;
    }

    .error {
      display: flex;
      align-items: center;
      height: 1.2em;
      font-weight: bold;
    }
  }

  button {
    margin-top: 2em;
  }
}
