:host {
  position: relative;

  .gradiant-bar {
    margin: 0.25em 0;
    height: 0.5em;
    width: 100%;
  }

  .cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: var(--gray-0);
    border-radius: 100%;
  }
}
