:host {
  display: flex;
  height: 2.5em;
  background-color: var(--gray-9);
  border-radius: 2.5em;

  &:focus {
    outline: auto 5px -webkit-focus-ring-color;
  }

  div.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    width: 100%;
    div.gradiant-bar {
      cursor: pointer;
      margin: 0 1.25em;
      height: 0.5em;
      width: 100%;
      border-radius: 0.5em;
    }

    .cursor {
      width: 100%;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;

      div.draggable {
        width: 2.5em;
        height: 2.5em;
        padding: 0.75em;
        background-clip: content-box;
        background-color: var(--gray-0);
        border-radius: 100%;
        border: none;
        @media (hover: none) and (pointer: coarse) {
          border: 0.1em solid var(--transparent-1);
        }
      }
    }
  }
}
