button {
  padding: 0.5em 1em;
  height: 2.5em;

  border-radius: 2.5em;
  text-align: center;
  text-decoration: inherit;
  &:disabled {
    border: 0.1em solid var(--gray-9);
    background: var(--gray-9);
    color: var(--gray-5);
  }
  &:not(:disabled) {
    color: inherit;
    cursor: pointer;

    border: 0.1em solid var(--gray-9);
    background: var(--gray-9);

    &:hover {
      border-color: var(--gray-8);
      background: var(--gray-8);
    }

    &:active {
      border-color: var(--gray-7);
      background: var(--gray-7);
    }

    &.primary {
      border: 0.1em solid var(--primary-3);
      background: var(--primary-3);
      color: white;
      &:hover {
        border-color: var(--primary-4);
        background: var(--primary-4);
      }

      &:active {
        border-color: var(--primary-3);
        background: var(--primary-3);
      }
    }

    &.quiet {
      border: 0.1em solid var(--transparent-0);
      background: var(--transparent-0);

      &:hover {
        background: var(--transparent-1);
      }

      &:active {
        background: var(--transparent-2);
      }
    }
  }

  &.icon {
    width: 2.5em;
    &:not([hidden]) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
