table.card {
  display: flex;

  thead {
    display: none;
  }

  tbody {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;

    @media screen and (max-width: 800px) {
      flex-flow: column nowrap;
      align-items: stretch;
    }
    tr {
      @media screen and (max-width: 800px) {
        width: 100%;
      }
      width: 19em;
      border: 0.1em solid #eee;
      cursor: pointer;
      display: flex;
      flex-flow: column;
      &:hover {
        background-color: #eee;
      }
      &.selected {
        background-color: #ddd;
        .image {
          background-color: #ddd;
        }
      }
      td {
        display: flex;
        flex-flow: column;
        padding: 0.5em 1em;

        &.image {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eee;
          padding: 0;
          overflow: hidden;
          height: 14em;
          img {
            height: 100%;
          }
          .not-found {
            color: #ccc;
            font-size: 8em;
          }
        }

        &.name {
          font-weight: bold;
        }
      }
    }
  }

  tbody.skeleton {
    cursor: inherit;

    tr {
      td {
        background-color: #ddd;
        background-clip: content-box;
        color: #ddd;
        animation: skeleton 2s ease-in-out infinite;
      }
    }
  }
}
