table.card {
  display: flex;

  thead {
    display: none;
  }

  tbody {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 0.5em;
    justify-content: center;
    align-items: center;

    width: 100%;

    tr {
      border: 0.1em solid var(--gray-6);
      cursor: pointer;
      display: flex;
      flex-flow: column;
      &:hover {
        background-color: var(--gray-8);
      }
      &.selected {
        background-color: var(--gray-7);
        .images {
          background-color: var(--gray-7);
        }
      }
      td {
        display: flex;
        flex-flow: column;
        padding: 0.5em 1em;

        &.images {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--gray-9);
          padding: 0;
          height: 14em;
        }

        &.name {
          font-weight: bold;
        }
      }
    }
  }

  tbody.skeleton {
    cursor: inherit;

    tr {
      td:not(.images) {
        background-color: var(--gray-8);
        background-clip: content-box;
        color: var(--gray-8);
        animation: skeleton 2s ease-in-out infinite;
      }

      td.images {
        .not-found {
          font-size: 8em;
          color: var(--gray-8);
          animation: skeleton-image 2s ease-in-out infinite;
        }
      }
    }
  }
}
