form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;
  label {
    padding-bottom: 0.5em;

    .error {
      display: flex;
      align-items: center;
      height: 1.2em;
      font-weight: bold;
    }
  }

  button {
    margin-top: 2em;
  }
}

input {
  padding: 0.5em 1em;
  border: 0.1em solid var(--gray-8);
  border-radius: 0.6em;
  width: 100%;
  background-color: var(--gray-10);
  color: var(--gray-0);
}

label {
  display: flex;
  flex-flow: column;
}
