table.detail {
  border: 0.1em solid var(--gray-6);
  border-collapse: collapse;
  width: 100%;

  .image {
    width: 3em;
    text-align: center;
    padding: 0;
    margin: 0;
    img {
      display: flex;
      height: 100%;
      max-height: 2.15em;
      width: 100%;
      object-fit: cover;
    }

    .not-found {
      color: var(--gray-5);
    }

    @media screen and (max-width: 400px) {
      display: none;
    }
  }

  .name {
    min-width: 8em;
    text-align: left;
  }

  .price {
    width: 5em;
  }

  .qty {
    width: 5em;
  }

  th,
  td {
    padding: 0.5em 1em;
  }

  thead {
    background-color: var(--gray-6);
  }

  tbody {
    cursor: pointer;
    tr:nth-child(even) {
      background-color: var(--gray-9);
    }
  }

  .qty,
  .price {
    text-align: right;
    white-space: nowrap;
  }

  tbody:not(.skeleton) {
    tr:hover {
      background-color: var(--gray-8);
    }
    tr.selected {
      background-color: var(--gray-7);
    }
  }

  tbody.skeleton {
    cursor: inherit;

    tr {
      td {
        background-color: var(--gray-8);
        background-clip: content-box;
        color: var(--gray-8);
        animation: skeleton 2s ease-in-out infinite;
      }
    }
  }
}
