table.detail {
  border: 0.1em solid var(--gray-6);
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: var(--gray-6);
  }

  tbody {
    cursor: pointer;
    tr:nth-child(even) {
      background-color: var(--gray-9);
    }
  }

  th,
  td {
    padding: 0 1em;
    height: 2em;
    @media screen and (max-width: 400px) {
      height: 4em;
      padding: 0 0.5em;
    }
  }

  .select {
    min-width: 2em;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    label {
      margin: 0;
      padding: 0.5em;
      cursor: pointer;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        cursor: pointer;
        height: 1.2em;
      }
    }
  }

  .images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    padding: 0;
    margin: 0;
    height: 2.2em;
    overflow: hidden;

    @media screen and (max-width: 400px) {
      display: none;
    }
  }

  .name {
    min-width: 6em;
    text-align: left;
  }

  .price {
    width: 4em;
  }

  .qty {
    width: 4em;
  }

  .qty,
  .price {
    text-align: right;
    white-space: nowrap;
  }

  tbody:not(.skeleton) {
    @media (hover: hover) and (pointer: fine) {
      tr:hover {
        background-color: var(--gray-8);
      }
    }

    tr.selected {
      background-color: var(--gray-7);
    }
  }

  tbody.skeleton {
    cursor: inherit;

    tr {
      td {
        background-color: var(--gray-8);
        background-clip: content-box;
        color: var(--gray-8);
        animation: skeleton 2s ease-in-out infinite;
      }
    }
  }
}
